server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/devicemgmt
    username: postgres
    password: Hussain@1994
    initialization-mode: never
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.web: INFO
    com.example: DEBUG
